<h1>Create an article</h1>

<% if @article.errors.any? %>
<h2> The following errores prevented the article from getting saved<h2>
<ul>
	<% @article.errors.full_messages do |msg| %>
		<li> <%= msg %></li>
	<% end %>
</ul>	
<% end %>

<%= form_for @article do |el| %>
	<p>
		<%= el.label :title %> <br/>
		<%= el.text_field :title %>
    </p>
    <p>
		<%= el.label :description %> <br/>
		<%= el.text_area :description %>
    </p>
    <p>
    	<%= el.submit %>
    </p>
<% end %>
